<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rafasaid.com.br.santacruzveterano">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JogadoresActivity"
            android:label="Jogadores" />
        <activity
            android:name=".ContatoActivity"
            android:label="Contato" />
        <activity
            android:name=".jogadores.RafaelActivity"
            android:label="Rafael" />
        <activity
            android:name=".jogadores.DouglasActivity"
            android:label="Douglas" />
        <activity
            android:name=".jogadores.FlavioActivity"
            android:label="Flávio" />
        <activity
            android:name=".jogadores.ErliActivity"
            android:label="Erli" />
        <activity
            android:name=".jogadores.ErickActivity"
            android:label="Erick" />
        <activity
            android:name=".jogadores.RomarioActivity"
            android:label="Romário" />
        <activity
            android:name=".jogadores.PelotaActivity"
            android:label="Pelota" />
        <activity
            android:name=".jogadores.PaulinhoActivity"
            android:label="Paulinho" />
        <activity
            android:name=".jogadores.BaianoActivity"
            android:label="Baiano" />
        <activity
            android:name=".jogadores.AlexActivity"
            android:label="Alex" />
        <activity
            android:name=".MensagensActivity"
            android:label="Mensagens" />
        <activity
            android:name=".jogadores.AlissonActivity"
            android:label="Alisson" />
        <activity
            android:name=".jogadores.BilinActivity"
            android:label="Bilim" />
        <activity
            android:name=".jogadores.BoizinhoActivity"
            android:label="Boizinho" />
        <activity
            android:name=".jogadores.BrunoActivity"
            android:label="Bruno Pupu" />

        <activity
            android:name=".jogadores.EdmundoActivity"
            android:label="Edmundo" />

        <activity
            android:name=".jogadores.JosielActivity"
            android:label="Ziel" />

        <activity
            android:name=".jogadores.LuizEduardoActivity"
            android:label="Du" />

        <activity
            android:name=".jogadores.RicardoActivity"
            android:label="Ricardo" />

        <activity
            android:name=".jogadores.RobertoActivity"
            android:label="Roberto" />

        <activity
            android:name=".jogadores.RyanActivity"
            android:label="Ryan" />

        <activity
            android:name=".jogadores.ZeGatoActivity"
            android:label="Zé Gato" />

        <activity
            android:name=".jogadores.GabrielActivity"
            android:label="Ieiel" />
        <activity
            android:name=".torcedores.Delinha"
            android:label="Delinha" />
        <activity
            android:name=".torcedores.Toninho"
            android:label="Toninho" />
        <activity
            android:name=".torcedores.Daniel"
            android:label="Daniel" />

        <activity
            android:name=".VanorActivity"
            android:label="Árbitro" />

        <activity
            android:name=".MaurinhoActivity"
            android:label="Gandula" />

        <activity
            android:name=".ResultadosActivity"
            android:label="Resultados 2017" />

        <activity
            android:name=".AdicionarResultado"
            android:parentActivityName=".ResultadosActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ResultadosActivity" />
        </activity>

        <activity
            android:name=".CalendarioActivity"
            android:label="Calendário" />

        <activity
            android:name=".AdicionarCalendario"
            android:parentActivityName=".CalendarioActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CalendarioActivity" />
        </activity>

        <activity
            android:name=".ResultadosActivity2016"
            android:label="Resultados 2016" />

        <uses-permission android:name="android.permission.INTERNET" />


        <activity
            android:name=".FotosActivity"
            android:label="Fotos" />

        <activity
            android:name=".EstatisticasActivity"
            android:label="Estatísticas 2017" />

        <activity
            android:name=".Estatisticas2016Activity"
            android:label="Estatísticas 2016" />
    </application>

</manifest>