<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rafasaid.com.br.santacruzveterano">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outras atividades do app -->
        <activity
            android:name=".MensagensActivity"
            android:label="Mensagens" />
        <activity
            android:name=".resultados.Resultados2016"
            android:label="Resultados 2016" />
        <activity
            android:name=".FotosActivity"
            android:label="Fotos" />
        <activity
            android:name=".estatisticas.EstatisticasActivity"
            android:label="Estatísticas 2018" />
        <activity
            android:name=".estatisticas.Estatisticas2016"
            android:label="Estatísticas 2016" />
        <activity
            android:name=".resultados.Resultados2017"
            android:label="Resultados 2017" />
        <activity
            android:name=".estatisticas.Estatisticas2017"
            android:label="Estatísticas 2017" />
        <activity
            android:name=".resultados.ResultadosActivity"
            android:label="Resultados" />
        <activity android:name=".FotosFullscreen" />
        <activity android:name=".resultados.ResultadoShare" />
        <activity android:name=".calendario.CalendarioShare" />

        <!-- Adicionando resultados e calendário -->
        <activity
            android:name=".resultados.AdicionarResultado"
            android:parentActivityName=".resultados.ResultadosActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".resultados.ResultadosActivity" />
        </activity>
        <activity
            android:name=".calendario.CalendarioActivity"
            android:label="Calendário" />
        <activity
            android:name=".calendario.AdicionarCalendario"
            android:parentActivityName=".calendario.CalendarioActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".calendario.CalendarioActivity" />
        </activity>
        <activity android:name=".calendario.MudarCalendario" />

    </application>

</manifest>